.aboutMeContainer {
  position: relative;
  color: rgb(0, 0, 0); 
}

.asciiArt {
  margin-left: 5rem;
  margin-top:5rem;
  white-space: pre;
  position: absolute;
  background-image:  radial-gradient(ellipse farthest-corner, #0000000c 20%, #00000077 80%), url('/aboutMeBacking.jpg');
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 1.4vh;
  padding: 2rem;
  z-index: 1001;
}

.content {
  display: flex;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}


.techstack {
  margin-top: 20px;
}

.ticker {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  animation: ticker 15s linear infinite;
}

@keyframes ticker {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.interests {
  margin-top: 20px;
}
