/* Existing styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  position: sticky;
  top: 0;
  z-index: 48;
  margin-left: auto;
  font-family: 'Helvetica-Neue-Roman', sans-serif;
  background-size: cover;
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust color to your needs */
}

.navButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  transition: color 0.4s ease;
  position: relative;
  flex: 1;
  text-align: center;
  transition: background-color 1s ease-in-out color .15s ease-in-out;
}

.navButton:hover {
  background-color: #ff5e00;
  color: black;
}

/*mobile portrait (vertical screen) */
@media only screen and (max-width: 650px) {
  .navButton{
    font-size: 3vw;
  }
}