@font-face {
  font-family: 'Helvetica-Neue-Light'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueLight.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Helvetica-Neue-Roman'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueRoman.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Helvetica-Neue-Med'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueMedium.otf'); /*URL to font*/
}

.navbar {
  display: flex;
  justify-content: space-between;  /* Align items to the right */
  position: sticky;  /* Sticks to the top when you scroll */
  top: 0;
  z-index: 1002;
  margin-left: auto;  
  font-family: 'Helvetica-Neue-Roman', sans-serif;
}

.navButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);  
  transition: color 0.4s ease;  
  position: relative; 
  flex: 1;
  text-align: center;
  box-shadow: inset 0 1px 0 -1px #b3ff00;
  transition: box-shadow 1s ease-in-out color .15s ease-in-out;
}

.navButton:hover {
  box-shadow: inset 0 -140px 0 -1px #ff8800;
  color: black;
}
