.splitFlapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .letterContainer {
    perspective: 1000px;
  }
  
  .flap-display {
    display: inline-block;
    background: #000; /* Ensure the background is black to match the display style */
    color: #fff;
    padding: 10px;
  }

/*mobile portrait (vertical screen) */
@media only screen and (max-width: 650px) {
  .splitFlapContainer {
    justify-content: left;
    align-items: left;
    font-family: 'Courier New', Courier, monospace;
  }
}