@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond.ttf') format('truetype');
}

@font-face {
  font-family: 'Cloister Black';
  src: url('/fonts/CloisterBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Countdown Regular';
  src: url('/fonts/Countdown Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/fonts/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
  font-family: 'Jacquard12';
  src: url('/fonts/Jacquard12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lordish';
  src: url('/fonts/Lordish.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirvana';
  src: url('/fonts/NIRVANA.TTF') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */

}

::-webkit-scrollbar:hover {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Background of the scrollbar track */
  box-shadow: inset 0 0 5px grey;

}

::-webkit-scrollbar-thumb {
  background: #ff5e00; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the scrollbar handle */
  height: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}