@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Apple Garamond';
  src: url('/fonts/AppleGaramond.ttf') format('truetype');
}

@font-face {
  font-family: 'Cloister Black';
  src: url('/fonts/CloisterBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Countdown Regular';
  src: url('/fonts/Countdown Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/fonts/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
  font-family: 'Jacquard12';
  src: url('/fonts/Jacquard12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lordish';
  src: url('/fonts/Lordish.ttf') format('truetype');
}

@font-face {
  font-family: 'Nirvana';
  src: url('/fonts/NIRVANA.TTF') format('truetype');
}

@font-face {
  font-family: 'Dirtyline';
  src: url('/fonts/Dirtyline.otf') format('opentype');
}

@font-face {
  font-family: 'Gotha';
  src: url('/fonts/Dx Gotha - Free Personal.otf') format('opentype');
}

@font-face {
  font-family: 'Kregas';
  src: url('/fonts/ncl-kregas.demo.otf') format('opentype');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('/fonts/NeueHaasGrotesk.otf') format('opentype');
}

/* Grid Background */
.grid-background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 1px; /* Gap between grid cells */
  background: black; /* Black background */
}

/* Grid Cells */
.grid-cell {
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  border: 1px solid rgba(255, 255, 255, 0.1); 
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

/* Glow Animation */
@keyframes glow {
  0% {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
  50% {
    background: rgba(255, 69, 0, 0.8); /* Orange glow */
    box-shadow: 0 0 20px rgba(255, 69, 0, 0.8); /* Glow effect */
  }
  100% {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

/* Noise Texture Overlay */
.noise-texture {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 400 400'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Gradient Hover Effect */
.hover\:gradient-effect {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

/* Prism Gradient Hover Effect */
.hover\:gradient-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.8),    /* Red */
    rgba(255, 165, 0, 0.8),  /* Orange */
    rgba(255, 255, 0, 0.8),  /* Yellow */
    rgba(75, 0, 130, 0.8),   /* Indigo */
    rgba(238, 130, 238, 0.8) /* Violet */
    
  );
  background-size: 400% 100%; /* Larger background size for smooth animation */
  z-index: -1;
  transition: width 0.3s ease;
}

.hover\:gradient-effect:hover::before {
  width: 100%; /* Expand the gradient on hover */
  animation: prism-glow 15s linear infinite; /* Add animation for shifting colors */
}

/* Prism Glow Animation */
@keyframes prism-glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */

}

::-webkit-scrollbar:hover {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Background of the scrollbar track */
  box-shadow: inset 0 0 5px grey;

}

::-webkit-scrollbar-thumb {
  background: #ff5e00; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners for the scrollbar handle */
  height: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}