.containerOpener {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/backgroundImage.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
}

.defaultBackground {
  width:100vw;
  height:1000%;
  background-color: black;
}

.largeLetters {
  padding: 50px 4px;
  position: left;
  left: 10%;
  top: 40%;
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 80%;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);

}

.randomText {
  position: absolute;
  color: white;
  font-size: 20px;
}

.text1 { top: 10%; left: 70%; }
.text2 { top: 50%; left: 40%; }
.text3 { top: 80%; left: 60%; }
.text4 { top: 30%; left: 85%; }
