@font-face {
  font-family: 'Helvetica-Neue-Light'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueLight.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Helvetica-Neue-Roman'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueRoman.otf'); /*URL to font*/
}

@font-face {
  font-family: 'Helvetica-Neue-Med'; /*a name to be used later*/
  src: url('/fonts/HelveticaNeueMedium.otf'); /*URL to font*/
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.containerOpener {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('/backgroundImage-studio.jpg');
  background-position-y: -120px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  font-family: Helvetica-Neue-Med, sans-serif;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.defaultBackground {
  width:100vw;
  height:1000%;
  background-color: black;
}

.largeLetters {
  padding: 10px 4px;
  position: left;
  left: 10%;
  top: 30%;
  font-size: 2.5vw;
  color: white;
  font-weight: bolder;
  line-height: 85%;
  mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 20%);
  z-index: 1;
}

.textInline {
  background-color: #1f1e1dba;
}

.randomText {
  position: absolute;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.text1 { 
  top: 22%; 
  left: 85%; 
  rotate: 270deg;
  font-size: 1vw;
  font-family: Helvetica-Neue-Light, sans-serif;
  text-overflow: clip;
}

.text2 { 
  top: 20%; 
  right: 12%; 
  font-size: 8.5vw; 
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;

}

.text3 { 
  top: 80%; 
  left: 76%; 
  text-orientation: sideways-right;
}

.text4 { 
  top: 90%; 
  left: 85%; 
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
  font-family: Helvetica-Neue-Light, sans-serif;
  font-size: x-small;
  filter:blur(0px);
  background-color: #b3ff00;
  padding: 1px 1px;
  color: black;
}

.flapDisplayContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-size: 4.5vw;
  font-family: 'Helvetica-Neue-Light', sans-serif;
}

.underlineScribble {
  position: block;
  width: 13%; 
  margin: -15px 20px 10px; 
  filter: invert();
}

.randomText .text2 {
  position: relative;
  text-align: right;
}

.randomText .text2 h1 {
  position: relative;
  display: inline-block;
}

.grid1 {
  position: absolute;
  width: 100%; 
  height: auto;
  right: 0;
  z-index: 0; 
  object-fit: cover; 
  pointer-events: none; 
  filter: invert();
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 20%);
  animation: 5s ease-in-out 0s fadeIn;
}

.shape28 {
  position: absolute;
  width: 2%; 
  height: auto;
  top: 20px;
  right: 0;
  z-index: 0; 
  object-fit: cover; 
  pointer-events: none; 
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0,0,0,1) 20%);
  filter:blur(2px);
}